# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summerized

**Objectives:**
- Python
- R
- SQL

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. c++
7. Julia
8. JS
9. Php
10. Go

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Keras
6. TensorFlow

|Data Science Tools|
|------|
|Python|
|Apache Spark|
|Jupyter|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers.

In [2]:
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60.

In [4]:
X = 200/60
X

3.3333333333333335

# Author
Tharika Mallawa Arachchi